/* 
    Created on : 25-jun-2017, 8:48:42
    Author     : Imagen Web
*/
.panamaBg {}
.panamaBorderTop {border-top: 5px solid #D60006 !important;}
.panamaColor {color: #D60006 !important;}
.header-contacts > li i {color: #D60006 !important;}
nav.header-nav ul#main-nav > li > a:hover{color: #D60006 !important;}
nav.header-nav ul#main-nav > li ul {border-top: 3px solid #D60006 !important;}
.header-soc-btns li a:hover { background:#D60006 !important; }
nav.header-nav ul#main-nav > li { margin-right: 10px !important;}
div.rivaCarouselNav a:hover {background:#D60006 !important; border: 1px solid #D60006 !important;}
.section-header-nav a:hover:hover {border: 1px solid #D60006 !important; box-shadow: inset 0 0 0 2px #D60006 !important;}
.post > .date {background:#D60006 !important;}
.post > .date span.month {color:#c5d4d6 !important;}
.newsletters-1 {background:#D60006 !important;}
footer.site-footer a {color:#D60006 !important;}
.color-primary{color:#D60006 !important;}
.page-title-bar .breadcrumbs a{color:#D60006 !important;}
nav.header-nav ul#main-nav > li ul > li a:hover{color:#D60006 !important;}
.m-btn[data-color="primary"] {background-color:#D60006 !important;}
select:focus,
textarea:focus,
input[type="input"]:focus,
input[type="text"]:focus,
input[type="html"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="month"]:focus,
input[type="week"]:focus {
    border: 1px solid #D60006 !important;
}
.listadoImagenes{width: 250px; height: 170px;}
.pricing-3 thead th {border-bottom: 3px solid #D60006 !important;}
.map{ width: 250px; height: 250px;}
